/* Reset de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
}

.card-img-top {
    height:250px;
    object-fit: contain;
}